[Desktop Entry]
Version=1.0
Name=NoteNote
Comment="NoteNote Sticky Notes"
Exec=python3 /home/prites/projects/NoteNote/NoteNote.py
Path=/home/prites/projects/NoteNote/
Icon=/home/prites/projects/NoteNote/letter-n.gif
Terminal=false
Type=Application
Categories=Utility;
